nav {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  height: 50px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  padding-top: 7px;
}

h1 {
  text-align: center;
  color: blue;
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact-div {
  margin-left: auto;
}

.image {
  width: 500px;
  height: auto;
}
.image:hover {
  opacity: 0.5;
}
table tr {
  text-align: left;
  font-size: 17px;
}
