nav {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  height: 50px;
}
nav a {
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  padding-top: 8px;
}
h1 {
  text-align: center;
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact-div {
  margin-left: auto;
}

.image {
  width: 500px;
  height: auto;
}
.image:hover {
  opacity: 0.5;
}
table tr {
  text-align: left;
  font-size: 17px;
}
